In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.types import String, Integer, Time, Interval, Float, Text

In [3]:
df_final = pd.read_csv("C:\\Users\\Dell\\Webscrapting_python\\Final.csv")
df_final['Star_rating'] = df_final['Star_rating'].str[0:3]
df_final['Star_rating'] = df_final['Star_rating'].replace(' ','0.0')
df_final['Star_rating'] = df_final['Star_rating'].fillna(0.0)
df_final['Star_rating'] = df_final['Star_rating'].astype(float)

In [29]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11228 entries, 0 to 11227
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Service_Name      11228 non-null  object
 1   Route_name        11228 non-null  object
 2   Route_link        11228 non-null  object
 3   Bus_names         11228 non-null  object
 4   Bus_type          11228 non-null  object
 5   Departing_time    11228 non-null  object
 6   Duration          11228 non-null  object
 7   Reaching_time     11228 non-null  object
 8   Star_rating       11228 non-null  float64
 9   Price             11228 non-null  float64
 10  Seat_availablity  11228 non-null  int64
dtypes: float64(2), int64(1), object(8)
memory usage: 965.0+ KB

In [7]:
db_params = {
    'dbname': 'red_bus',
    'user': 'postgres',
    'password': 'QWERTY',
    'host': 'localhost',  
    'port': '5432'        
}

In [27]:
try:
    connection = psycopg2.connect(**db_params)
    print("Database connection successful!")

    cursor = connection.cursor()

    
    create_table_query = '''
        CREATE TABLE bus_routes (
        id SERIAL PRIMARY KEY,
        service_name TEXT NOT NULL,
        route_name TEXT NOT NULL,
        route_link TEXT NOT NULL,
        bus_name TEXT NOT NULL,
        bus_type TEXT NOT NULL,
        departing_time TIME NOT NULL ,
        duration TEXT NOT NULL,
        reaching_time TIME NOT NULL,
        star_rating FLOAT NOT NULL,
        price DECIMAL(10, 2) NOT NULL,
        seats_available INT NOT NULL
    );
    '''


    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully!")

   

    for _,row in df_final.iterrows():
        insert_query = "INSERT INTO bus_routes (service_name, route_name, route_link, bus_name, bus_type, departing_time, duration, reaching_time, star_rating,price,seats_available) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s);"
        cursor.execute(insert_query, (row['Service_Name'],row['Route_name'],row['Route_link'],row['Bus_names'],row['Bus_type'],row['Departing_time'],row['Duration'],row['Reaching_time'],row['Star_rating'],row['Price'],row['Seat_availablity']))
        
    connection.commit()
    print("Data inserted successfully!")

    # select_query = "SELECT * FROM example;"
    # cursor.execute(select_query)
    # rows = cursor.fetchall()
    # for row in rows:
    #     print(row)

except Exception as e:
    print("Error:", e)

Database connection successful!
Table created successfully!
Data inserted successfully!